// Component imports
@import './components/landing';
@import './components/register';
@import './components/login';
@import './components/navbar';
@import './components/dashboard';
@import './components/footer';
@import './components/carousel';
@import './components/_productCard';
@import './components/clothing';
@import './components/tiles';

// Other imports
@import './reset/reset';
@import './utilities/variables';
