@import '../utilities/variables';

.slide {
  min-width: 80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-top: 1% !important;
  overflow: hidden !important;
  background-color: $color-secondary !important;
}

.carousel__background {
  background-color: $color-secondary;
}

.slider__gradient{
  margin-top:-31%;
  width:80% !important;
  border-radius: 19px;
}

.slider__image {
  border-radius: 19px;
  z-index: 1;
  width: 80% !important;
  overflow: hidden;
  max-height: 500px !important;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.125);
}

.legend {
  background-color: transparent !important;
  opacity: 1 !important;
  left: 20% !important;
  font-size: 35px !important;
  font-weight: bold !important;
}

.thumbs, .carousel-status {
  display: none !important;
}

@media(max-width: 767px) {
  .slide {
    min-width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    background-color: white !important;
  }
  .carousel__background {
    background-color: white;
    overflow: hidden;
  }
  .legend {
    font-size: 15px !important;
    font-weight: bold !important;
    bottom: 0 !important;
  }
  .slider__image {
    width: 100% !important;
  }
  .slider__gradient{
    width:100% !important;
    margin-top:-36%;
  }
}
