.slide{
  min-width:80% !important;
  margin-left:10% !important;
  margin-right:10% !important;
  margin-top:2% !important;
  background-color: white !important;
}
.slider__image{
  border-radius: 19px;
  width:80% !important;
  max-height:500px !important;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.125);
}
.legend{
  background-color: transparent !important;
  opacity:1 !important;
  left:15% !important;
  font-size: 35px !important;
  margin-left: -40% !important;
  font-weight: bold !important;
}
.thumbs,.carousel-status{
  display: none !important;
}
@media(max-width: 767px){
  .slide{
    min-width: 100% !important;
    margin-left:0 !important;
    margin-top: 0 !important;
    margin-right:0 !important;
  }
  .legend{
    font-size: 15px !important;
    font-weight: bold !important;
    bottom:0 !important;
  }
  .slider__image{
    width:100% !important;
  }
}
