@import '../utilities/variables';

.dashboard{
    background-color: $color-primary;
    &__text{
        color:$color-secondary;
        margin-left:10%;
        padding-top:4%;
    }
    &__address{
        padding-top:4%;
        &-card{
            position: absolute;
            width: 70%;
            background: $color-primary;
            padding:4%; 
            border-radius: 23px;
            box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);
            &__image{
                width:20%;
                float: left;
                margin-right:10%;
            }
        }
    }
    &__carousel{
        padding-top:4%;
        padding-bottom:4%;
        &-card{
            width: 25%;
            display: inline-block;
            background: $color-primary;
            margin-left:5%;
            border-radius: 23px;
            box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);
            &__image{
                width:80%;
                margin-left: 10%;
            }
        }
    }
    &__items{
        margin-left:7%;
        &-text{
            color:$color-secondary;
        }
        &-item{
            padding-bottom:4%; 
            &__card{
                margin-top:2%;
                width: 70%;
                height:100%;
                padding:5%;
                display: inline-block;
                background: $color-primary;
                border-radius: 13px;
                margin-right:3%;
                box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);
                &-image{
                    padding-bottom:2%;
                    width:100%;
                }
            }
        }
    }
}

@media(max-width:767px){
    .align{
        padding: 5%;
    }
}