@import '../utilities/variables';

.footer {
  background-color: $color-primary;
  color: black;
  border-radius: 30px 30px 0 0;
  box-shadow: 0px -9px 9px #FFFFFF, inset 0px 2px 9px rgba(0, 0, 0, 0.25);
  a{
    text-decoration: none;
    color: black;
  }

  &__alignleft {
    margin-left: 5%;

    &-image {
      width: 25%;
      padding: 2%;
    }

    &-text {
      font-size: 30px;
    }

    &-detail {
      padding-top: 2%;
      margin-left: 5%;
      display: inline;

      &__heart {
        width: 50px;
      }
    }
  }

  &__alignright {
    padding-right: 8%;
    padding-top: 15%;
  }

  &__social {
    background-color: $color-secondary;
    display: inline-block;
    color: white;
    font-size: 35px;
    //padding: 3px;
    width: 3%;
    a:hover, a:focus, a:visited{
  color: white;
}
    //height: 45px;
  }
  .footer__text{
    padding: 0.5%;
  }
}
