@import '../utilities/variables';


.signin {
  &:after {
    content: "";
    background-color: $color-primary;
    background-image: url('../../images/background.png');
    background-position: 5% 25%;
    background-size: 60% 80%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
    height: 100vh;
  }
}

.outer {
  position: absolute;
  margin-top: -3%;
  height: 90vh;
  padding-top: 6%;
  width: 50%;
  right: 0;
  overflow: hidden;
  background: $color-primary;
  border-radius: 53px;
  padding-bottom: 5%;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);
}

.inner {
  margin-left: 7%;
  margin-bottom: 5%;
  height: 40%;
  width: 85%;
  background: $color-secondary;
  border-radius: 53px;
  box-shadow: 9px 9px 10px rgba(55, 58, 89, 0.1), -9px -9px 10px #ffffff, inset 7px 7px 16px rgba(0, 0, 0, 0.25);
}

.about {
  padding-left: 10%;
  font-size: 40px;
  color: $color-secondary;

  span {
    font-size: 30px;
    line-height: 0.2px;
  }

  .text {
    font-size: 15px !important;
  }
}

.buttons {
  padding-top: 1.2%;
  padding-left: 8%;
}

.forgot {
  color: white;
  padding-left: 8%;
  font-weight: 600;
  margin-top:4%;
}

.btn-login {
  margin-left: 15%;
  border-radius: 25px;
  outline: none;
  border: none;
  width: 23%;
  color: black;
  font-weight: 600;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 9px 9px 10px rgba(55, 58, 89, 0.1), inset 7px 7px 16px rgba(0, 0, 0, 0.25);
}

.btn-signin {
  margin-left: 2%;
  border-radius: 25px;
  outline: none;
  border: none;
  width: 23%;
  color: white;
  font-weight: 600;
  padding-top: 1%;
  padding-bottom: 1vh;
  background: transparent;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), inset 7px 7px 16px rgba(0, 0, 0, 0.03);
}

.name {
  width: 15%;
  margin-left: 5%;
}

.field{
  color: white !important;
  width: 85%;
  padding-top: 5%;
  margin-left: 8%;
}

.button {
  width: 25%;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: white;
  padding: 2%;
  margin-left: 5%;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);

  img {
    width: 30%;
    max-width:40px;
    margin-right: 0;
    float: left;
  }

  span {
    font-size: 14px;
  }
}

@media(max-width: 767px) {
  .signin:after{
    height:130%;
    background-color: $color-primary;
    background-image: none;
  }
  .field{
    padding-top:10%
  }
  .outer {
    left:5%;
    width: 90%;
    height: 118%;
    margin-top: 2%;
  }
  .inner {
    height: 45%;
    border-radius:25px; 
  }
  .text {
    display: none;
  }
  .forgot {
    margin-top:15%;
  }
  .btn-login,
  .btn-signin {
    width: 50%;
    margin-left: 20%;
    margin-top: 4%;
  }
  .google, .facebook {
    width: 50%;
    margin-left: 20%;
    margin-top: 2%;
  }
  .input{
    margin-top:4%;
  }
}

// for iphone5/SE
@media only screen and (width: 320px) and (height: 568px) {
  .outer {
    height: 138%;
  }
  .inner {
    height: 43%;
  }
  .signin:after {
    height: 150%;
  }
}

// for ipads
@media only screen and (width: 768px) and (height: 1024px) {
  .signin:after{
    background-image: none;
  }
  .outer {
    height: 63%;
    width: 80%;
    left:10%;
    margin-top: 2%;
  }
  .inner{
    height:35%;
  }
  .forgot {
    display: inline;
    margin-left: 8%;
  }
  .btn-login,
  .btn-signin {
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
  }
  .google,.facebook{
    width:25%;
    padding-top:3%;
  }
}

// for ipad pro
@media only screen and (width: 1024px) and (height: 1366px) {
  .outer {
    height: 48%;
    margin-top: 0;
    width: 70%;
  }
  .inner {
    height: 40%;
  }
  .forgot{
    margin-top:5%;
  }
  .btn-login,
  .btn-signin {
    width: 20%;
  }
}

// for pixel2
@media only screen and (width:411px) and (height:731px) {
  .inner{
    height:45%;
  }
  .outer{
    height:100%;
  }
  .signin:after{
    height:120%;
  }
}

// for pixel2XL

@media only screen and (width:411px) and (height:823px){
  .inner{
    height:45%;
  }
  .outer{
    height:90%;
  }
  .signin:after{
    height: 105%;
  }
}

// for iphone 6/7/8
@media only screen and (width:375px) and (height:667px){
  .inner{
    height: 45%;
  }
  .outer{
    height:110%;
  }
} 

// for iphone 6/7/8 plus
@media only screen and (width:414px) and (height:736px) {
  .inner{
    height:45%;
  }
  .outer{
    height:100%;
  }
  .signin:after{
    height:115%;
  }
}

// for iphone x
@media only screen and (width:375px) and (height:812px){
  .inner{
    height:45%;
  }
  .outer{
    height:90%;
  }
  .signin:after{
    height:100%;
  }
} 
