.market {
  margin-left: 15%;
  width: 75%;
  margin-bottom: 5%;

  &__card {
    width: 100%;
    margin-right: 20%;
    height: 147px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    text-align: center;

    &-image {
      width: 13%;
      height: 60%;
      margin-left: 10%;
      float: left;
      margin-top: 3%;
      border-radius: 50%;
    }

    &-text {
      float: left;
      margin-left: 10%;
      margin-top: 3%;
      font-size: 32px;
      text-align: left;
    }

    &-star {
      width: 28px;
      position: absolute;
      height: 27px;
      margin-left: -8%;
      margin-top: 2%;
    }

    &-rating {
      position: absolute;
      margin-left: -4%;
      margin-top: 2.5%;
    }
  }
}

@media(max-width: 767px) {
  .market {
    margin-left: 5%;
    width: 82%;

    &__card {
      margin-left: 5%;
      height: 100px;

      &-image {
        width: 20%;
        margin-left: 5%;
        margin-top: 10%;
      }

      &-text {
        font-size: 15px;
        display: inline;
        margin-top: 10%;
        margin-left: 5%;
      }

      &-star {
        float: right;
        margin-top: 8%;
        margin-right: 3%;
      }

      &-rating {
        font-size: 14px;
      }
    }
  }
}

@media (max-height: 1366px) and (min-height: 1024px) {
  .market {
    width: 85%;
    margin-left: 8%;

    &__card {
      height: 100px;

      &-image {
        width: 15%;
        height: 50%;
        margin-top: 5%;
      }

      &-text {
        font-size: 16px;
        margin-left: 4%;
        margin-top: 5%;
      }

      &-star {
        margin-top: 2%;
      }

      &-rating {
        font-size: 16px;
      }
    }
  }
}
