@import '../utilities/variables';

.nav{
    .MuiAppBar-colorPrimary {
        background-color: $color-primary;
    }
    .name{
        width:5%;
        margin-left:1%;
    }
    .text{
        color: $color-secondary;
        font-size:24px;
    }
    .MuiInputBase-input {
        background-color: $color-primary;
        border-radius: 15px;
        box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);
    } 
    .MuiIconButton-colorInherit  {
        color:$color-secondary;
    }
    
}
