@import '../utilities/variables';

.product-card {
  margin-top: 2%;
  width: 77%;
  height: 90%;
  padding: 2%;
  display: inline-block;
  background: $color-primary;
  border-radius: 13px;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);

  &-image {
    padding-bottom: 1%;
    width: 80%;
  }

  &-name {
    font-size: 17px;
  }

  &-seller {
    padding-bottom: 5%;
    font-size: 14px;

    &__price {
      font-weight: 600;
      margin-left: 5%;
      font-size: 30px;
      line-height: 3px;
      color: $color-secondary;
    }
  }

}

@media(max-width: 767px) {
  .product-card {
    width: 100%;
  }
}

