@import '../utilities/variables';

.product-card {
  width: 78%;
  max-width: 230px;
  height: 90%;
  display: inline-block;
  background: $color-primary;
  border-radius: 12px;
  margin-top: 8%;
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.25);

  &-image {
    padding-bottom: 1%;
    max-height: 154px;
    width: 100%;
    cursor: pointer;
  }

  &-name {
    font-size: 17px;
    padding-left: 5%;
  }

  &-prices {
    margin-right: 5%;
    padding-bottom: 2%;
  }

  &-seller {
    padding-bottom: 5%;
    font-size: 14px;
    padding-left: 5%;

    &__price {
      font-weight: 600;
      margin-left: 5%;
      font-size: 30px;
      line-height: 3px;
      color: $color-secondary;
    }
  }

}

@media(max-width: 767px) {
  .product-card {
    width: 100%;
  }
}

