@import '../utilities/variables';

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  overflow: hidden;
}

.signup {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &:after {
    content: "";
    background-color: $color-primary;
    background-image: url('../../images/background.png');
    background-position: -3% 20%;
    background-size: 40% 75%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }
}

.background {
  content: "";
  background-color: $color-primary;
  background-image: url('../../images/background1.png');
  background-position: 102% 20%;
  background-size: 40% 75%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.outer-card {
  position: absolute;
  width: 32%;
  background: $color-primary;
  border-radius: 53px;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);

  .inner-card {
    margin-left: 7%;
    margin-bottom: 5%;
    height: 58vh;
    width: 85%;
    background: $color-secondary;
    border-radius: 53px;
    box-shadow: 9px 9px 10px rgba(55, 58, 89, 0.1), -9px -9px 10px #ffffff, inset 7px 7px 16px rgba(0, 0, 0, 0.25);
  }
}

.logo {
  width: 20%;
  margin: 10px 10px 10px 40%;
}

.input {
  color: white !important;
  width: 85%;
  padding-top: 7%;
  margin-bottom: 15px;
  margin-left: 8%;
}

.input1 {
  color: white;
  padding-top: 2%;
  padding-left: 15%;
}

.gender {
  margin-left: 8%;
  color: white;
}

::placeholder {
  color: white !important;
  opacity: 1;
}

.register_form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-left: 18px;
  color: white;
}

.btn-submit {
  background-color: $color-primary;
  width: 50%;
  padding: 5px;
  margin-left: 25%;
  margin-top: 2%;
  color: black;
  border-radius: 50px;
  outline: none;
  border: none;
}

.MuiInput-underline {
  &:before {
    border-bottom: 1px solid white !important;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

.MuiRadio-root {
  color: white !important;
}

.company{
  color:black;
  font-size:35px;
  font-weight:500;
}

// for mobiles
@media(max-width: 767px) {
  .outer-card {
    width: 80%;
    height: 98% !important;
  }
  .input {
    width: 80% !important;
    margin-left: 10%;
  }
  .inner-card {
    width: 85%;
    height: 85% !important;
  }
  .btn-submit {
    margin-left: 24%;
    margin-top: 1%;
  }
  .background,.signup:after {
    background-image: none;
  }
  .gender, .company{
    display: none;
  }
  .input {
    width: 90%;
    padding-top: 10px;
  }
}

// fir iphone5/SE
@media only screen and (width: 320px) and (height: 568px) {
  .inner-card {
    height: 85% !important
  }
  .gender {
    display: none;
  }
  .outer-card {
    height: 98% !important;
  }
  .signup{
    height:110vh;
  }
  .company {
    display: none;
  }
}

// for ipads
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .outer-card {
    width: 78%;
  }
  .inner-card {
    width: 92%;
  }
  .btn-submit {
    width: 50%;
    margin-bottom:10%;
    margin-top: 1%;
  }
  .input {
    padding-top: 10%;
  }
  .background,.signup:after{
    background-image: none;
  }
}

// for pixel2
@media only screen and (width:411px) and (height:731px){
  .inner-card{
    height:80% !important;
  }
  .outer-card{
    height:80% !important;
  }
}

// for pixel2xl
@media only screen and (width:411px) and (height:823px) {
  .inner-card{
  height:80% !important;
  }
  .outer-card{
    height:70% !important;
  }
}

// for iphone 6/7/8
@media only screen and (width:414px) and (height:736px) {
  .inner-card{
    height:80% !important;
  }
  .outer-card{
    height:80% !important;
  }
}

// for iphone X
@media only screen and (width:375px) and (height:812px) {
  .inner-card{
    height:85% !important;
  }
  .outer-card{
    height:80% !important;
  }
}