@import '../utilities/variables';

.container-fluid {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
  height: 100vh

}

.container-fluid:after {
  content: "";
  background-color: $color-primary;
  background-image: url('../../images/background.png');
  background-position: 20px 5px;
  background-size: 500px 600px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}

.background {
  content: "";
  background-color: $color-primary;
  background-image: url('../../images/background1.png');
  background-position: right;
  background-size: 500px 600px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}

.outer-card {
  position: absolute;
  width: 35%;
  background: $color-primary;
  border-radius: 53px;
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.25), -9px -9px 10px rgba(255, 255, 255, 0.5), inset 7px 7px 16px rgba(0, 0, 0, 0.03);
}

.inner-card {
  margin-left: 7%;
  margin-bottom: 5%;
  height: 65vh;
  width: 85%;
  background: $color-secondary;
  border-radius: 53px;
  box-shadow: 9px 9px 10px rgba(55, 58, 89, 0.1), -9px -9px 10px #ffffff, inset 7px 7px 16px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 20%;
  margin: 20px 20px 20px 40%;
}

.input {
  color: white !important;
  width: 200%;
  padding-top: 15%;

}

.input1 {
  color: white;
}

::placeholder {
  color: white !important;
  opacity: 1;
}

.register_form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-left: 18px;
  color: white;
}

.submit {
  background-color: $color-primary;
  width: 60%;
  padding: 5px;
  margin-left: 60%;
  color: black;
  border-radius: 50px;
  outline: none;
  border: none;
}

// for mobiles
@media(max-width: 767px) {
  .neuromorphism-1 {
    width: 80%;
  }
  .neuromorphism-2 {
    width: 80%;
    height: 68%;
  }
  .submit {
    margin-left: 20%;
  }
  .neuromorphism {
    display: none;
  }
  .input {
    width: 90%;
    padding-top: 7px;
  }
}

// fir iphone5/SE
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .neuromorphism-2 {
    height: 80%
  }
}

// for ipads
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .neuromorphism-1 {
    width: 60%;
  }
  .neuromorphism-2 {
    width: 85%;
  }
  .submit {
    width: 80%;
    margin-left: 50%;
  }
}
