.tiles {
  padding-top: 6%;
  padding-bottom: 6%;

  &__card {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    width: 80%;
    max-height: 378px;
    margin-left: 10%;
    margin-right: 20%;
    overflow: hidden;
    position: relative;
    text-align: center;

    &-image {
      width: 100%;
      z-index: 1;
      min-height: 378px;
      object-fit: cover;
    }

    &-gradient {
      z-index: 2;
      width: 100%;
      margin-top: -100%;
      object-fit: cover;
    }

    &-text {
      position: absolute;
      bottom: 8px;
      left: 17px;
      font-weight: 600;
      color: white;
      font-size: 34px;
      display: block;
    }
  }
}



@media (max-width: 767px) {
  .tiles {
    //padding-top: 20%;

    &__card {
      margin-left: 10%;
      margin-right: 10%;
      max-height: 250px;

      &-image {
        min-height: 250px;
      }

      &-text {
        font-size: 20px;
        bottom: 2px;
      }
    }
  }
}
